.navbar{
    background-color: bisque;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    border-radius: 20px;
}

.-scrollrecipies{    
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    border-radius: 50px;
}
.rishi{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(11, 118, 133);
    text-decoration: none;
    border-radius: 20px;
}
.Parent_Recipies{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border: 2px;
    border-color: black;
    border-radius: 30px;
}

.Recipies_BananaCake{
    display: flex;
    flex-direction: column;
    justify-content: center;



}
ol{
    list-style-position: inside;
    text-align: center;
    padding: 0;
    width: 100vw;
}
ul{
    list-style-position: inside;
    text-align: center;
    padding: 0;
    width: 100vw;
}
.imgbro{
    display: flex;
    justify-content: center;
}
.hi{
    display: flex;
    justify-content: center;
}
.Pinlogo{
    display: flex;
    justify-content:center;
}
.methods-container{
    display: flex;
    justify-content: center;
}
.methods-list{
    width: 60%;
    padding-left: 20px;
    margin:0;
    text-align: left;
}
.ingredients{
    display: flex;
    justify-content: center;
}
.banana-ingredients{
    width: 20%;
    padding-left: 20px;
    margin: 0;
    text-align: left;
}
button{
    padding: 20px;
    padding-left: 90px;
    padding-right:90px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: 2px solid #000000;
    background-color: none;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    gap: 20px;
    border: 2px solid rgb(168, 168, 168);
}
.recipies-scroll{
    padding-top:20px;
}
.recipie1{
    display: flex;
    flex-direction: colomn;
    background-color:rgb(11, 118, 133);
    height: auto;
    width: 50vw;
    padding: 20px;
}
p{
    font-family: Geom, Arial;
    color: black;
}
img{
    width: 400px;
    height: auto;
    border-radius: 20px;
}
.Recipie{
    display: flex;
    justify-content: center;
    background-color: rgb(178, 229, 255);
    gap: 15px;
    outline: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px;
}
.textinrecipie{
    display: flex;
    flex-direction: column;
}
.recipies_scroll{
    padding-top: 20px;
}